<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>insta</title>
    </head>
    <body>
        <header>
            <table style="width:100%">
                <tr>
                    <td>
                        <h1>insta</h1>
                    </td>
                </tr>
            </table>
        </header>
        
        <h3>Luo käyttäjä</h3>
        <form method="POST" th:action="@{/create}">
            <table>
                <tr><td>Käyttäjänimi:</td><td><input type="text" name="kayttajanimi" /></td></tr>
                <tr><td>Salasana:</td><td><input type="text" name="salasana" /></td></tr>
                <tr><td colspan='2'><input type="submit" value="Luo!" /></td></tr>
            </table>
        </form>
    </body>
</html>