<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>insta</title>
        <meta charset="UTF-8" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    </head>
    <body class="container-fluid">
        <header>
            <table style="width:100%">
                <tr>
                    <td>
                        <h1><a href="/home">insta</a></h1>
                    </td>
                    <td align="right">
                        <a th:href="@{/user/{id}(id=${tkayttaja.id})}" th:text="${tkayttaja.kayttajanimi}">nimi</a>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Kirjaudu ulos" />
                        </form>
                    </td>
                </tr>
            </table>
        </header>
        
        <h2>Selaa kuvia&#8229;</h2>
        
        <table style="width:100%">
            <tr>
                <th>&#8229;käyttäjittäin</th>
                <th>&#8229;tunnisteittain</th> 
            </tr>
            <tr>
                <td valign='top' width="50%">
                    <p th:each="kayttaja: ${kayttajat}">
                        <a th:href="@{/user/{id}(id=${kayttaja.id})}" th:text="${kayttaja.kayttajanimi}">nimi</a>
                    </p>
                </td>
                <td valign='top' width="50%">
                    <p th:each="tunniste: ${tunnisteet}">
                        <a th:href="@{/tag/{id}(id=${tunniste.id})}" th:text="${tunniste.nimi}">nimi</a>
                    </p>
                </td>
            </tr>
        </table>
        
        <h2>Lisää kuvia</h2>

        <form method="POST" th:action="@{/home}" enctype="multipart/form-data">
            <input type="file" name="kuva"/>
            <br />
            <input type="text" name="kuvateksti" placeholder="Kuvateksti" />
            <br />
            <input type="text" name="tunnisteet" placeholder="tunniste1,tunniste2..." />
            <br />
            <input type="submit" value="Lisää!"/>
        </form>
    </body>
</html>