<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>insta</title>
    </head>
    <body>
        <h1>insta</h1>
        
        <h2>Selaa kuvia&#8229;</h2>
        
        <table style="width:100%">
            <tr>
                <th>&#8229;käyttäjittäin</th>
                <th>&#8229;tunnisteittain</th> 
            </tr>
            <tr>
                <td>
                    <p th:each="kayttaja: ${kayttajat}">
                        <a th:href="@{/user/{id}(id=${kayttaja.id})}" th:text="${kayttaja.kayttajanimi}">nimi</a>
                    </p>
                </td>
                <td>
                    <p th:each="tunniste: ${tunnisteet}">
                        <a th:href="@{/tag/{id}(id=${tunniste.id})}" th:text="${tunniste.nimi}">nimi</a>
                    </p>
                </td>
            </tr>
        </table>
        
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Kirjaudu ulos" />
        </form>
    </body>
</html>