<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>insta</title>
        <meta charset="UTF-8" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    </head>
    <body class="container-fluid">
        <header>
            <table style="width:100%">
                <tr>
                    <td>
                        <h1><a href="/home">insta</a></h1>
                    </td>
                    <td align="right">
                        <a th:href="@{/user/{id}(id=${tkayttaja.id})}" th:text="${tkayttaja.kayttajanimi}">nimi</a>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Kirjaudu ulos" />
                        </form>
                    </td>
                </tr>
            </table>
        </header>

        <h2 th:text="${tunniste} != null ? 'Tunniste: ' + ${tunniste.nimi} : 'Käyttäjä: ' + ${kayttaja.kayttajanimi}"></h2>

        <th:block th:each="kuva : ${kuvat}">
            <figure style="margin-bottom:1cm">
                <a th:href="@{/pic/{id}(id=${kuva.id})}">
                    <img th:src="@{/pic/{id}/content(id=${kuva.id})}" width="50%"/>
                </a>
                <figcaption>
                    <span th:text="${kuva.kuvateksti}">kuvateksti</span> 
                    (&#169; <a th:href="@{/user/{id}(id=${kuva.kayttaja.id})}" th:text="${kuva.kayttaja.kayttajanimi}">nimi</a>) <br />
                    <a th:href="@{/pic/{id}(id=${kuva.id})}" th:text="${#lists.size(kuva.kommentit)} + ' kommenttia'">kommenttien lukumäärä</a>
                    <span></span>
                </figcaption>
            </figure>
        </th:block>

        <p align="right"><a href="javascript:javascript:history.go(-1)">Takaisin</a></p>
    </body>
</html>