<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>insta</title>
    </head>
    <body>
        <header>
            <table style="width:100%">
                <tr>
                    <td>
                        <h1><a href="/home">insta</a></h1>
                    </td>
                    <td align="right">
                        <a th:href="@{/user/{id}(id=${tkayttaja.id})}" th:text="${tkayttaja.kayttajanimi}">nimi</a>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Kirjaudu ulos" />
                        </form>
                    </td>
                </tr>
            </table>
        </header>

        <h2 th:text="${tunniste} != null ? 'Tunniste: ' + ${tunniste.nimi} : 'Käyttäjä: ' + ${kayttaja.kayttajanimi}"></h2>

        <th:block th:each="kuva : ${kuvat}">
            <figure>
                <a th:href="@{/pic/{id}(id=${kuva.id})}">
                    <img th:src="@{/pic/{id}/content(id=${kuva.id})}" width="480"/>
                </a>
                <figcaption th:text="${kuva.kuvateksti} + ' (&#169; ' + ${kuva.kayttaja.kayttajanimi} + ')'">kuvateksti</figcaption>
            </figure>
        </th:block>
        
        <p align="right"><a href="javascript:javascript:history.go(-1)">Takaisin</a></p>
    </body>
</html>