<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>insta</title>
    </head>
    <body>
        <header>
            <table style="width:100%">
                <tr>
                    <td>
                        <h1><a href="/home">insta</a></h1>
                    </td>
                </tr>
            </table>
        </header>
        
        <table style="width:100%">
            <tr>
                <th><a href="/login">Kirjaudu sisään</a></th>
                <th><a href="/create">Luo käyttäjä</a></th> 
            </tr>
        </table>
    </body>
</html>